In [10]:
f = open("US_births_1994-2003_CDC_NCHS.csv")
text = f.read()
text[:1000]

'year,month,date_of_month,day_of_week,births\n1994,1,1,6,8096\n1994,1,2,7,7772\n1994,1,3,1,10142\n1994,1,4,2,11248\n1994,1,5,3,11053\n1994,1,6,4,11406\n1994,1,7,5,11251\n1994,1,8,6,8653\n1994,1,9,7,7910\n1994,1,10,1,10498\n1994,1,11,2,11706\n1994,1,12,3,11567\n1994,1,13,4,11212\n1994,1,14,5,11570\n1994,1,15,6,8660\n1994,1,16,7,8123\n1994,1,17,1,10567\n1994,1,18,2,11541\n1994,1,19,3,11257\n1994,1,20,4,11682\n1994,1,21,5,11811\n1994,1,22,6,8833\n1994,1,23,7,8310\n1994,1,24,1,11125\n1994,1,25,2,11981\n1994,1,26,3,11514\n1994,1,27,4,11702\n1994,1,28,5,11666\n1994,1,29,6,8988\n1994,1,30,7,8096\n1994,1,31,1,10765\n1994,2,1,2,11755\n1994,2,2,3,11483\n1994,2,3,4,11523\n1994,2,4,5,11677\n1994,2,5,6,8991\n1994,2,6,7,8309\n1994,2,7,1,10984\n1994,2,8,2,12152\n1994,2,9,3,11515\n1994,2,10,4,11623\n1994,2,11,5,11517\n1994,2,12,6,8945\n1994,2,13,7,8171\n1994,2,14,1,11551\n1994,2,15,2,12164\n1994,2,16,3,12009\n1994,2,17,4,11674\n1994,2,18,5,11887\n1994,2,19,6,8946\n1994,2,20,7,8402\n1994,2,21,1,10617\n1994,2,22,2,11810\n1994,2,23,3,11776\n1994,2,24,4,11667\n'

In [11]:
txt = text.split("\n")
txt[:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

In [12]:
def read_csv(path,header = False):
    f = open(path)
    list_of_strings = f.read()
    list_of_strings_2 = list_of_strings.split("\n")
    list_of_list_int = []
    k = 0
    
    if header == True:
        k = 1
    
    for each in list_of_strings_2[k:]:
        row = each.split(",")
        row_int = []
        for value in row:
            row_int.append(int(value))
        list_of_list_int.append(row_int)
    
    return list_of_list_int 

cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv",True)
cdc_list[0:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

## Births of USA

<table align="left"><tr><td><b>Header<td><b>Definition
       <tr><td>year<td>Year
       <tr><td>month<td>Month
       <tr><td>date_of_month<td>Day of week, where 1 is Monday and 7 is Sunday
       <tr><td>births<td>Number of births

In [13]:
def month_births(nested_list):
    months = [1,2,3,4,5,6,7,8,9,10,11,12]
    births_per_months = {}
    
    for month in months:
        cont = 0
        
        for each in nested_list:
            if each[1] == month:
                cont += each[4]
        
        births_per_months[month] = cont
    return births_per_months

cdc_month_births = month_births(cdc_list)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [16]:
def dow_births(nested_list):
    day_of_week = [1,2,3,4,5,6,7]
    births_per_day = {}
    
    for day in day_of_week:
        cont = 0
        
        for each in nested_list:
            if each[3] == day:
                cont += each[4]
        
        births_per_day[day] = cont
    return births_per_day

cdc_day_births = dow_births(cdc_list)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [17]:
def calc_counts(data,column):
      
    day_of_week = list(range(1,8))
    day_of_month = list(range(1,32))
    months = list(range(1,13))
    year = list(range(1994,2004))
    
    dic = {}
    rango = []
    
    if column == 0:
        rango = year
    elif column == 1:
        rango = months
    elif column == 2:
        rango = day_of_month
    elif column == 3:
        rango = day_of_week
          
    for v in rango:
        cont = 0
        
        for each in data:
            if each[column] == v:
                cont += each[4]
        
        dic[v] = cont
    return dic

cdc_year_births = calc_counts(cdc_list,0)
cdc_month_births = calc_counts(cdc_list,1)
cdc_dom_births = calc_counts(cdc_list,2)
cdc_dow_births = calc_counts(cdc_list,3)

print(cdc_year_births)
print(cdc_month_births)
print(cdc_dom_births)
print(cdc_dow_births)

{1994: 3952767, 1995: 3899589, 1996: 3891494, 1997: 3880894, 1998: 3941553, 1999: 3959417, 2000: 4058814, 2001: 4025933, 2002: 4021726, 2003: 4089950}
{1: 3232517, 2: 3018140, 3: 3322069, 4: 3185314, 5: 3350907, 6: 3296530, 7: 3498783, 8: 3525858, 9: 3439698, 10: 3378814, 11: 3171647, 12: 3301860}
{1: 1276557, 2: 1288739, 3: 1304499, 4: 1288154, 5: 1299953, 6: 1304474, 7: 1310459, 8: 1312297, 9: 1303292, 10: 1320764, 11: 1314361, 12: 1318437, 13: 1277684, 14: 1320153, 15: 1319171, 16: 1315192, 17: 1324953, 18: 1326855, 19: 1318727, 20: 1324821, 21: 1322897, 22: 1317381, 23: 1293290, 24: 1288083, 25: 1272116, 26: 1284796, 27: 1294395, 28: 1307685, 29: 1223161, 30: 1202095, 31: 746696}
{1: 5789166, 2: 6446196, 3: 6322855, 4: 6288429, 5: 6233657, 6: 4562111, 7: 4079723}

In [18]:
def min_max_dic(dic):
    keys = list(dic.keys())
    values = list(dic.values())
    
    min,max = values[0],values[0]
    
    for k in keys:
        if dic[k] >= max:
            max = dic[k]
        elif dic[k] <= min:
            min = dic[k]
        else:
            continue
    
    return max,min

print(min_max_dic(calc_counts(cdc_list,0)))
print(min_max_dic(calc_counts(cdc_list,1)))
print(min_max_dic(calc_counts(cdc_list,2)))
print(min_max_dic(calc_counts(cdc_list,3)))

(4089950, 3880894)
(3525858, 3018140)
(1326855, 746696)
(6446196, 4079723)

In [23]:
def same_value(data,column,value):
    
    same_value_list = []
    
    
    for row in data:
        if row[column] == value:
            same_value_list.append(row)
    
    deltas = [same_value_list[0]]
    
    for i,row in enumerate(same_value_list[1:]):
        j = i+1
        deltas.append(row[0:4]+[same_value_list[j][4]-same_value_list[j-1][4]])
        
    return deltas

variations = same_value(cdc_list,1,5)

print(variations[:20])

[[1994, 5, 1, 7, 8145], [1994, 5, 2, 1, 3024], [1994, 5, 3, 2, 854], [1994, 5, 4, 3, -269], [1994, 5, 5, 4, 204], [1994, 5, 6, 5, -54], [1994, 5, 7, 6, -3263], [1994, 5, 8, 7, -438], [1994, 5, 9, 1, 2711], [1994, 5, 10, 2, 857], [1994, 5, 11, 3, -493], [1994, 5, 12, 4, 544], [1994, 5, 13, 5, -737], [1994, 5, 14, 6, -2255], [1994, 5, 15, 7, -577], [1994, 5, 16, 1, 2850], [1994, 5, 17, 2, 1186], [1994, 5, 18, 3, -621], [1994, 5, 19, 4, -257], [1994, 5, 20, 5, 234]]

In [24]:
CDC = read_csv("US_births_1994-2003_CDC_NCHS.csv",True)
SSA = read_csv("US_births_2000-2014_SSA.csv",True)

def Intervalo_de_interés(data,column,a,b):
    
    #toma una lista csv de datos ordenados
    #devuelve el número de fila donde comienza y donde terminan (inclusive) los datos acotados
    
    mark1 = 0
    mark2 = 0
    
    for i,row in enumerate(data):
        if row[column] == a:
            mark1 = i
            break
      
    for i,row in enumerate(data[mark1:]):
        if row[column] == b:
            mark2 = i+mark1
            break     
        mark2 += 1
    mark2 += mark1-1
    
    return [mark1,mark2]

def prom_overlap(data1,data2,column,year1,year2):
    #se supone que data1 tiene su período solapado al final
    #se supone que data2 tiene su período solapado al principio
    
    mark11 = Intervalo_de_interés(data1,column,year1,year2)[0]
    mark12 = Intervalo_de_interés(data1,column,year1,year2)[1] 
    mark21 = Intervalo_de_interés(data2,column,year1,year2)[0]
    mark22 = Intervalo_de_interés(data2,column,year1,year2)[1] 
        
    Intervalo1 = data1[0:mark11]
    Intervalo2 = data2[mark22:]
    Intervalo_solapado = []
    rango_solapado = mark12+1-mark11 
    
    print(rango_solapado)
    
    for i in range(rango_solapado):
        prom = (data1[i][4]+data2[i][4])/2
        z = data1[i+mark11][0:4]+[prom]
        Intervalo_solapado.append(z)
    
    return Intervalo1+Intervalo_solapado+Intervalo2
    
def dif_overlap(data1,data2,column,year1,year2):
    #se supone que data1 tiene su período solapado al final
    #se supone que data2 tiene su período solapado al principio
    
    mark11 = Intervalo_de_interés(data1,column,year1,year2)[0]
    mark12 = Intervalo_de_interés(data1,column,year1,year2)[1] 
    mark21 = Intervalo_de_interés(data2,column,year1,year2)[0]
    mark22 = Intervalo_de_interés(data2,column,year1,year2)[1] 
        
    Intervalo1 = data1[0:mark11]
    Intervalo2 = data2[mark22:]
    Intervalo_solapado = []
    rango_solapado = mark12+1-mark11 
    
    print(rango_solapado)
    
    for i in range(rango_solapado):
        prom = (data1[i+mark11][4]-data2[i][4])
        z = data1[i+mark11][0:4]+[prom]
        Intervalo_solapado.append(z)
    
    return Intervalo_solapado
    
  

a1 = Intervalo_de_interés(CDC,0,2000,2004)[0]
b1 = Intervalo_de_interés(CDC,0,2000,2004)[1]


a2 = Intervalo_de_interés(SSA,0,2000,2004)[0]
b2 = Intervalo_de_interés(SSA,0,2000,2004)[1]
    
#print(b1,a1,b2,a2)

print(b1-a1+1)
print(b2-a2+1)

#print(prom_overlap(CDC,SSA,4,2000,2004))


Prom_len = len(prom_overlap(CDC,SSA,0,2000,2004))
Dif_len = len(dif_overlap(CDC,SSA,0,2000,2004))
B = len(CDC)
C = len(SSA)
print(Prom_len,Dif_len,B,C)



# para no complicarla demasiado, suponemos que las listas dan los datos de la totalidad
# de los días de todos los años involucrados (osea si no hubo nacimientos, habrá un 0)

1461
1461
1461
1461
7671 1461 3652 5479

In [28]:
## Vamos a mostrar el solapado promediado
w = prom_overlap(CDC,SSA,0,2000,2004)
T = w[2191:]
T[:20]

1461

[[2000, 1, 1, 6, 8589.5],
 [2000, 1, 2, 7, 7889.0],
 [2000, 1, 3, 1, 10752.5],
 [2000, 1, 4, 2, 12140.0],
 [2000, 1, 5, 3, 11805.5],
 [2000, 1, 6, 4, 11936.0],
 [2000, 1, 7, 5, 11883.5],
 [2000, 1, 8, 6, 8793.5],
 [2000, 1, 9, 7, 7929.5],
 [2000, 1, 10, 1, 11083.0],
 [2000, 1, 11, 2, 12158.5],
 [2000, 1, 12, 3, 11982.5],
 [2000, 1, 13, 4, 11513.5],
 [2000, 1, 14, 5, 11875.0],
 [2000, 1, 15, 6, 8592.5],
 [2000, 1, 16, 7, 7890.0],
 [2000, 1, 17, 1, 10695.5],
 [2000, 1, 18, 2, 11945.5],
 [2000, 1, 19, 3, 11831.0],
 [2000, 1, 20, 4, 12094.0]]

In [35]:
# Vamos a mostrar el solapado diferencia
q = dif_overlap(CDC,SSA,0,2000,2004)
print(len(q))

1461
1461

In [36]:
CDC[2191:2200]

[[2000, 1, 1, 6, 8843],
 [2000, 1, 2, 7, 7816],
 [2000, 1, 3, 1, 11123],
 [2000, 1, 4, 2, 12703],
 [2000, 1, 5, 3, 12240],
 [2000, 1, 6, 4, 12260],
 [2000, 1, 7, 5, 12280],
 [2000, 1, 8, 6, 8750],
 [2000, 1, 9, 7, 7736]]

In [37]:
SSA[:20]

[[2000, 1, 1, 6, 9083],
 [2000, 1, 2, 7, 8006],
 [2000, 1, 3, 1, 11363],
 [2000, 1, 4, 2, 13032],
 [2000, 1, 5, 3, 12558],
 [2000, 1, 6, 4, 12466],
 [2000, 1, 7, 5, 12516],
 [2000, 1, 8, 6, 8934],
 [2000, 1, 9, 7, 7949],
 [2000, 1, 10, 1, 11668],
 [2000, 1, 11, 2, 12611],
 [2000, 1, 12, 3, 12398],
 [2000, 1, 13, 4, 11815],
 [2000, 1, 14, 5, 12180],
 [2000, 1, 15, 6, 8525],
 [2000, 1, 16, 7, 7657],
 [2000, 1, 17, 1, 10824],
 [2000, 1, 18, 2, 12350],
 [2000, 1, 19, 3, 12405],
 [2000, 1, 20, 4, 12506]]

In [38]:
#q devuelve la lista de las diferencias solo en el rango del solapamiento 
son_todas_negativas = True
sum = 0
for row in q:
    sum += row[4]
    if row[4]>0:
        son_todas_negativas = False

print(son_todas_negativas)
print(sum)
print(q[0][4])

True
-326511
-240